//COLORS

$color-primary: #ff955d;
$color-secondary: #ff4cab;

$color-grey-dark-1: #414141;

$color-grey-light-1: #6c6c6c;
$color-grey-light-2: #e2e2e2;
$color-grey-light-3: #f6fafd;

$color-white: #ececec;
$color-black: #142729;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//Font-size
$heading-primary: 5.5rem;
$heading-secondary: 3.6rem;
$heading-tertiary: 1.8rem;
$heading-description: 1.8rem;
$paragraph: 1.6rem;
