.footer {
	padding: 8.6rem;
	text-align: center;

	&__nav {
		list-style: none;
		font-size: 1.4rem;
		font-weight: 700;

		& li {
			display: inline-block;
			margin: 1rem;

			a:link,
			a:visited {
				padding: 5px;
				text-decoration: none;
				color: $color-grey-dark-1;
				transition: all 0.2s;
			}

			a:hover,
			a:active {
				transform: scale(1.05);
				background: linear-gradient(to right, $color-primary, $color-secondary);
				color: $color-white;
			}
		}
	}

	&__copy {
		list-style: none;
		font-size: 1.4rem;
		font-weight: 700;

		& li {
			display: inline-block;
			margin: 1rem;
			a:link,
			a:visited {
				padding: 5px;
				text-decoration: none;
				color: $color-grey-dark-1;
				transition: all 0.2s;
			}

			a:hover,
			a:active {
				transform: scale(1.05);
				background: linear-gradient(to right, $color-primary, $color-secondary);
				color: $color-white;
			}
		}
	}
}
