.btn {
	font-size: 1.8rem;
	padding: 1.5rem 5rem;
	border-radius: 5px;
	text-decoration: none;
	font-weight: 300;
	display: inline-block;
	margin: 2rem;
	text-transform: capitalize;

	&--color {
		color: $color-white;
		background: linear-gradient(to right, $color-primary, $color-secondary);
	}

	&--blank {
		color: $color-grey-dark-1;
		background: transparent;
		border: 1px solid $color-grey-dark-2;
	}

	&--white {
		color: $color-grey-dark-3;
		background-color: $color-white;
	}
}
