.plan-box {
	text-align: center;
	font-weight: 900;
	padding: 4.5rem;
	font-size: 1.4rem;
	&__grey {
		background-color: yellow;
	}

	&__plan {
		margin-bottom: 2rem;
	}

	&__price {
		margin-bottom: 2rem;
	}

	&__price span {
		font-size: 7.2rem;
		color: $color-secondary;
	}

	&__description {
		font-weight: 300;
		font-size: 1.6rem;
		margin-bottom: 3rem;
	}

	&__grey {
		background-color: $color-grey-light-3;
	}
}
