*,
*:before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

html {
	// This defines what 1rem is
	font-size: 62.5%; // 1rem = 10px; as 100% is 16px (default browser) 10px/16px = 62.5%
}

body {
	box-sizing: border-box;
}
