.section-about {
	padding: 11.7rem;

	&__features {
		text-align: center;
		margin-top: 8.6rem;
	}

	&__lbreak {
		border: none;
		height: 0.5px;
		background-color: $color-grey-light-2;

		@include respond(tab-land) {
			height: 1px;
		}
	}

	@include respond(tab-port) {
		.about-box {
			float: none;
			width: 100%;
		}

		.video-box {
			float: none;
			width: 100%;
		}

		&__heading {
			width: 100%;
		}
	}
	@include respond(phone) {
		padding: 5rem;
	}
}

.section-founder {
	position: relative;
	background-color: $color-grey-light-3;

	&__image {
		width: 60%;
		height: auto;
		padding-top: 5rem;
		text-align: right;
		float: right;
		@include respond(phone) {
			float: none;
		}
	}

	&__content {
		font-size: 2rem;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);

		@include respond(phone) {
			position: relative;
			top: 0;
			transform: translateY(0);
			margin: 3.5rem;
		}
	}

	&__paragraph {
		margin-bottom: 3.6rem;
		font-weight: 300;
		width: 70%;

		@include respond(tab-port) {
			font-size: 2rem;
			margin-bottom: 2.5rem;
			width: 90%;
		}
	}

	&__name {
		font-weight: 700;
	}
	&__designation {
		font-size: 2rem;
	}
}

.section-plans {
	padding: 11.7rem;
	text-align: center;

	&--description {
		display: inline-block;
		width: 60%;

		@include respond(phone) {
			width: 90%;
		}
	}

	&--heading {
		margin-bottom: 1.7rem;
	}

	@media screen and (max-width: 49em) {
		&__box {
			width: 100% !important;
		}
	}

	@include respond(phone) {
		padding: 5rem;
	}
}
